@import "tailwindcss";

@theme {
  --color-background: hsl(0, 0%, 96%);
  --color-foreground: hsl(0, 0%, 18%);
  --color-primary: hsl(215, 90%, 15%);
  --color-primary-foreground: hsl(46, 100%, 61%);
  --color-secondary: hsl(215, 95%, 77%);
  --color-secondary-foreground: hsl(0, 0%, 18%);
  --color-tertiary: hsl(0, 0%, 96%);
  --color-tertiary-foreground: hsl(215, 95%, 40%);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
